/***
  Base/default styles for site
***/

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  font: {
    size: 10px;
  }
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// set default headers
h1 {
  font: {
    size: 3.6rem;
  }
}

h2 {
  font: {
    size: 3.2rem;
  }
}

h3 {
  font: {
    size: 2.7rem;
  }
}

h4 {
  font: {
    size: 2.3rem;
  }
}

h5 {
  font: {
    size: 1.3rem;
  }
}
