@import '../../styles/_variables.scss';

.header {
  margin: 0;
  padding: 0;
  background: $gradient;
}

.title {
  padding: 3rem 0;
  text-align: center;
}

.title__link {
  text-decoration: none;
  color: #fff;
}

.menu {
  height: 4.5rem;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: {
    bottom: 1px solid salmon;
  }
}

.menu__item {
  color: #eee;
  font: {
    size: 2rem;
  }
  margin: 0 2rem;
  padding: 0.3rem 0;
  text-decoration: none;
}

.menu__item:hover {
  text-decoration: underline;
}

.menu__active {
  color: lightgreen;
}